* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapped {
  height: 100vh;
  background-color: rgb(154, 154, 172);
}

.score_board {
  color: white;
  display: flex;
  justify-content: space-around;
  height: 20vh;
  align-items: center;
}

.score_board h2 {
  font-size: 30px;
  padding-bottom: 10px;
}

.score_board p {
  text-align: center;
}

.intro {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.5s ease;
}

.intro h2 {
  font-size: 40px;
  color: white;
}

.intro button,
.options button {
  padding: 20px 40px;
  border: none;
  background-color: green;
  color: white;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
}

.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease 0.5s;
}

.winner {
  text-align: center;
  font-size: 50px;
  color: white;
}

.options,
.palms {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.palm-user,
.palm-computer {
  height: 220px;
  width: 250px;

}

.palm-user {
  transform: rotateY(180deg);
}

div.fadeOut {
  opacity: 0;
  pointer-events: none;
}

div.fadeIn {
  opacity: 1;
  pointer-events: all;
}
