.rockPaper {
  min-height: 100%;
  width: 100%;
  background-color: rgb(93, 93, 104);
  &__wrapped {
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    .rockPaper__btn {
      position: absolute;
      border: none;
      background-color: inherit;
      color: $mainColor;
      padding: 0;
      @media (min-width: 451px) {
        top: 20px;
        left: 20px;
      }
      &:hover {
        color: white;
      }
      @media (max-width: 450px) {
        top: 5px;
        left:20px;
        i {
          font-size: 20px;
        }
      }
    }
  }
}
