.rockPaper {
  height: 100vh;
  width: 100%;
  background-color: rgb(93, 93, 104);
  &__wrapped {
    margin: 0 auto;
    width: 1400px;
    .rockPaper__btn {
      position: absolute;
      top: 20px;
      border: none;
      background-color: inherit;
      color: $mainColor;
      padding: 0;
      &:hover {
        color: white;
      }
    }
  }
}
