.scoreBoard {
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__player h2,
  &__computer h2 {
    font-size: 35px;
    font-family: sans-serif;
    color: $mainColor;
  }
  &__player p,
  &__computer p {
    font-size: 30px;
    color: $mainColor;
    text-align: center;
    padding-top: 15px;
  }
}
