.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background: rgb(36, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(36, 0, 0, 1) 0%,
    rgba(105, 90, 142, 1) 0%,
    rgba(122, 143, 191, 1) 100%
  );
  &__title {
    color: $mainColor;
    font-size: 3em;
    padding: 100px 0;
    align-self: center;
    text-align: center;
    @media (max-width: 700px) {
      padding: 70px 0;
      font-size: 2.7em;
    }
    @media (max-width: 515px) {
      padding: 50px 0;
      font-size: 2em;
    }
    @media (max-width: 431px) {
      padding: 25px 0;
    }
    @media (max-width: 280px) {
      font-size: 1.5em;
    }
    @media (max-width: 235px) {
      font-size: 1em;
    }
  }
  &__container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media (max-width: 700px) {
      flex-direction: column;
    }
    .app__all {
      position: relative;
      flex-basis: 33%;
      overflow: hidden;
      margin: 0 20px;
      flex-grow: 1;
      @media (max-width: 700px) {
        width: 60%;
        margin: 10px 0;
      }
      @media (max-width: 235px) {
        margin-top: 20px;
      }
      img {
        width: 100%;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        filter: grayscale(100%);
        background-size: cover;
        transition: 0.5s linear;
      }
      &:hover::before {
        width: 0;
      }
    }
    .app__rock::before {
      background-image: url("../assets/bg/rockPaper-bg.png");
    }
    .app__memory::before {
      background-image: url("../assets/bg/memory-bg.png");
    }
    .app__quiz::before {
      background-image: url("../assets/bg/quiz-bg.png");
    }
  }
}
