$mainColor: rgb(211, 208, 208);

@mixin gameTitle($font, $color, $fontFamily, $textAlign: start) {
  font-size: $font;
  color: $color;
  font-family: $fontFamily;
  text-align: $textAlign;
}

//main
@import "./app";

//rockPaper
@import "./reset";
@import "./RockPaper/scoreBoard";
@import "./RockPaper/app";
@import "./RockPaper/intro";
@import "./RockPaper/game";

//memory
@import "./memory/app";
@import "./memory/cards";

//quiz
@import "./quiz/app";
@import "./quiz/quizSetup";
@import "./quiz/quizNav";
@import "./quiz/test";
