.quiz {
  position: relative;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../../assets/quiz/bg.png");
    background-position: center;
    background-repeat: repeat;
    z-index: -1;
    opacity: 0.2;
  }
  &__container {
    width: 1400px;
    margin: 0 auto;
    .quiz__title {
      position: relative;
      padding: 100px 0;
      text-align: center;
      font-size: 4em;
      font-weight: 600;
      &::after {
        content: "";
        position: absolute;
        left: 15%;
        right: 15%;
        bottom: 0;
        height: 2px;
        background-color: rgb(124, 121, 121);
      }
    }
    .quiz__setup {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      .quiz__image{
          margin-top:20px;
          flex-basis: 50%;
          img{
              width: 100%;
          }
      }
    }
  }
}
