.quiz {
  position: relative;
  max-width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../../assets/quiz/bg.png");
    background-position: center;
    background-repeat: repeat;
    z-index: -1;
    opacity: 0.2;
  }
  &__container {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    .quiz__back {
      border: none;
      background-color: inherit;
      color: rgb(31, 31, 31);
      padding: 0;
      margin-left: 20px;
      margin-top: 20px;
      &:hover {
        color: rgb(90, 90, 90);
      }
    }
    .quiz__setup {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin: 0 10px;
      @media (max-width: 1230px) {
        align-items: center;
      }
      @media (max-width:750px){
      display: block;
      }
      .quiz__image {
        margin-top: 20px;
        flex-basis: 50%;
        @media (max-width: 750px) {
          display: none;
        }
        img {
          max-width: 100%;
        }
      }
    }
  }
}
