.quiz__title {
  position: relative;
  padding: 100px 0;
  text-align: center;
  font-size: 4em;
  font-weight: 600;
  @media (max-width: 1000px) {
    font-size: 3em;
    padding: 70px 0;
  }
  @media (max-width: 442px) {
    font-size: 2.5em;
    padding: 50px 0;
  }
  @media (max-width: 170px) {
    font-size: 1.5em;
  }
  &::after {
    content: "";
    position: absolute;
    left: 15%;
    right: 15%;
    bottom: 0;
    height: 2px;
    background-color: rgb(124, 121, 121);
  }
}
