.test {
  position: relative;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../../assets/quiz/bg.png");
    background-position: center;
    background-repeat: repeat;
    z-index: -1;
    opacity: 0.2;
  }
  &__configure {
    .username {
      padding: 20px 0;
      text-align: center;
      font-size: 2em;
      span {
        font-weight: 600;
      }
    }
    .records {
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        font-size: 1.5em;
        margin-right: 40px;
        &:last-child {
          margin-right: 0;
        }
        span {
          font-weight: 600;
        }
      }
    }
  }
  &__table {
    position: relative;
    height: 500px;
    width: 1400px;
    margin: 0 auto;
    .question {
      padding: 40px 0;
      font-size: 2em;
      text-align: center;
      font-family: sans-serif;
      &__answers {
        word-break: break-all;
        line-height: 50px;
        text-align: center;
        font-size: 2.4em;
      }
    }
    .answer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      margin-top: 20px;
      &__choose {
        border: 3px solid rgb(82, 82, 82);
        padding: 20px;
        cursor: pointer;
        font-weight: 600;
        font-size: 1.3em;
        &:nth-child(odd) {
          border-right: none;
        }
        &:nth-last-child(-n + 2) {
          border-top: none;
        }
        &:hover {
          background-color: rgb(250, 248, 248);
          transition: 0.4s;
        }
      }
    }
    .btn_component {
      position: absolute;
      bottom: 0;
      left:50%;
      transform:translate(-50%);
      button {
        padding: 20px 50px;
        border: none;
        border-radius: 4px;
        color: rgb(226, 226, 226);
        font-size: 1.2em;
      }
      .btn_confirm {
        background-color: rgb(53, 53, 235);
        margin-left:300px;
        &:hover {
          background-color: rgba(53, 53, 235, 0.9);
        }
      }
      .btn_reset {
        background-color: rgb(235, 79, 79);
        &:hover {
          background-color: rgba(235, 79, 79, 0.9);
        }
      }
    }
  }
}
