.memory {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/simpson/wallpaperSimpsons.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__container {
    position: relative;
    width: 1400px;
    margin: 0 auto;
    .memory__back {
      position: absolute;
      top: 20px;
      border: none;
      background-color: inherit;
      color: rgb(31, 31, 31);
      padding: 0;
      &:hover {
        color: white;
      }
    }
    h2 {
      text-align: center;
      font-size: 50px;
      height: 18vh;
      line-height: 18vh;
      font-family: sans-serif;
    }
    .memory__info {
      position: relative;
      max-width: 1200px;
      margin: 0 auto;
      .memory__btn {
        margin: 0 auto;
        display: block;
        padding: 15px 30px;
        border: none;
        border-radius: 3px;
        margin-bottom: 20px;
      }
      .memory__timer {
        font-family: sans-serif;
        font-size: 1.4em;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }
  }
}
