.cards {
  max-width: 1400px;
  margin: 0 auto;
  &__wrapped {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .card {
      width: 200px;
      height: 175px;
      margin: 5px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      @media (max-width:1048px) {
        width:175px;
        height: 150px;
      }
      @media (max-width:738px) {
        width:150px;
        height: 125px;
      }
      @media (max-width:478px) {
        width:125px;
        height: 100px;
      }
    }
    .blank {
      background-image: url("../../assets/simpson/backCover.png") !important;
      background-repeat: no-repeat !important;
      background-position: center !important;
      background-size: contain !important;
      height: 175px;
      width: 200px;
      @media (max-width:1048px) {
        width:175px;
        height: 150px;
      }
      @media (max-width:738px) {
        width:150px;
        height: 125px;
      }
      @media (max-width:478px) {
        width:125px;
        height: 100px;
      }
    }
    .winner {
      background-image: url("../../assets/simpson/off.png") !important;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
.block {
  pointer-events: none;
}
